*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}
body{
    min-height: 100vh;
}
.container{
    width: 900px;
    margin: 0  auto;
    @media (max-width: 900px) {
        width: 700px;
    }
    @media (max-width: 700px) {
        width: 100%;
    }
}
.promo{
    background-image: url(1.png);
    background-size: cover;
    background-position: left;
    min-height: 650px;
    &__wrapper{
        height: 100%;
        background: linear-gradient(360deg, rgba(0,27,32,0.95) 31%, rgba(0,45,55,0.6) 77%);
        padding: 21px 0 93px 0;
        min-height: 650px;
    }
    &__main{
        margin-top: 60px;
        display: flex;
        @media (max-width: 700px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__img{
        width: 50%;
        img{
            width: 100%;
        }
    }
    &__descr{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: oldlace;
        
    }
    &__title{
        font-size: 50px
    }
    &__subtitle{
        font-size: 20px;
        color: orange
    }
}
.header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.042em;
    font-weight: 900;
    &__logo{
        img{
            height: 95px;
            display: block;
        }
    }
    &__official{
        text-align: center;
        span{
            display: block;
        }
    }
    &__contact {
        text-align: center;
        span{
            display: block;
        }
        button{
            border: none;
            padding: 10px 30px;
            border-radius: 20px;
            box-shadow: 1px 1px 3px 1px;
        }
    }
    @media (max-width: 500px) {
        flex-direction: column;
    }
}